body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
}

.container{
    width: 650px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}

.right{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:1px solid red;
}

.left{
    width: 300px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.reset-button{
    background-color: hsl(172, 67%, 45%);
    height: 35px;
    border: none;
    border-radius: 5px;
    width: 300px;
}
.tip{
    /* border: 1px solid blue; */
    height: 130px;
}
.tip-grid{
    width: 300px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3,30px);
    gap: 10px;
    /* background-color: red; */
}

.tile{
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 3.5px;
}

.tile:default{
    background: hsl(172, 67%, 45%);
    color: white;
}

.custom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(189, 41%, 97%);
    border-radius: 3.5px;
}

input{
    border: none;
    outline: none;
    height: 25px;
    width: 250px;
    text-align: right;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
}
input::placeholder{
    text-align: right;
}

.input-div{
    height: 40px;
    border-radius: 5px;
    background-color: hsl(185, 41%, 84%);
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}