body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
}

.container{
    width: 650px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.right{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    /* border: 2px solid red; */
}

.left{
    width: 300px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.reset-button{
    background-color: hsl(172, 67%, 45%);
    height: 35px;
    border: none;
    border-radius: 5px;
    width: 300px;
    color: hsl(183, 100%, 15%);
    font-family: 'Space Mono';
    text-transform: uppercase;
    position: absolute;
    bottom:30px;
}
.reset-button:disabled{
    background-color:   hsl(186, 14%, 43%);
}
.bill{
    height: 80px;
    /* border: 1px solid green; */
}
.tip{
    /* border: 1px solid blue; */
    height: 110px;
    /* border: 1px solid yellow; */
}
.tip-grid{
    width: 300px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3,30px);
    gap: 10px;
    /* background-color: red; */
}
.number-of-people{
    height: 80px;
    /* border: 1px solid red; */
}
.tile{
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Space Mono';
    cursor: pointer;
    border-radius: 3.5px;
}

.tile:default{
    background: hsl(172, 67%, 45%);
    color: white;
}

.custom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(189, 41%, 97%);
    border-radius: 3.5px;
    font-family: 'Space Mono';
}
.custom:hover{
    border: 2px solid hsl(172, 67%, 45%);
}
.custom p{
    opacity: 0.5;
    color: hsl(183, 100%, 15%);
}

input{
    border: none;
    outline: none;
    height: 25px;
    width: 250px;
    text-align: right;
    font-weight: 700;
    font-family: 'Space Mono';
    font-size: 24px;
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
}
input::placeholder{
    text-align: right;
}

.input-div{
    height: 40px;
    border-radius: 5px;
    background-color: hsl(185, 41%, 84%);
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div:hover{
    border: 2px solid hsl(172, 67%, 45%);
}

.left p{
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 35px;
    color: hsl(172, 67%, 45%);
}

h5{
    font-family: 'Space Mono';
}

.right h5{
    opacity: 0.6;
    margin: 0;
}

.tip-amount, .total{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

/* .custom p{
    outline: none;
    border: none;
    set the onblur and onfocus of the content editable.
    when it loses center elements
} */
.custom p{
    width: 80px;
    height: 30px;
    text-align: center;
}

.left h5{
    color: hsl(0, 0%, 100%);
}
.left h5 span{
    opacity: 0.4;
    font-size: 10px;
}