body{
    height: 100vh;
    margin: 0;
}

.main-container{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 5px;
}

.sidebar-container{
    width: 20%;
    padding: 5px;
    border-right: 1px solid grey;
}

.notes__list{
    display: flex;
    flex-direction: column;
}

.notes__list-item{
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.notes__list__item-selected{
    font-weight: bold;
    background-color: rgba(189, 186, 186, 0.282);
}
.notes__list__item-title{
    font-size: 1.2em;
    font-family: sans-serif;
    margin: 5px;
}

.notes__list__item-body{
    margin: 5px;
}
.notes__list__item-update{
    text-align: right;
    font-style: italic;
    color: grey;
    margin: 5px;
}
.notes__preview-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.notes__title{
    border: none;
    outline: none;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.notes__body{
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 1.2em;
}


button{
    width: 100%;
    height: 2.5em;
    background-color: rgb(12, 138, 104);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.1em;
    color: white;
    border: none;
}