body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color:  hsl(233, 47%, 7%);
    height: 70%;
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 80%;
    height: 72%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-radius: 5px;
    /* border: 2px solid red; */
}

.left{
    background-color: hsl(244, 38%, 16%);
    height: 86%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}
.inside-left{
    margin: 50px;
}
.right{
    height: 86%;
    background-color:  hsl(277, 64%, 61%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.6;
}

img{
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.bottom-things{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    width: 70%;
}